main {
    margin: 0.5cm;
}

.weapon-name {
    font-size: 32pt;
    font-weight: 700;
    text-align: center;
}

.stat > table{
    display:flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.stat tbody {
    display: flex;
}

.stat th {
    display: block;
}

.stat

@media screen and (min-width: 1024px) {
    main {
        margin: auto;
    }
}